<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISSION INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Muscu"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pages -->
        <activity android:name=".ExerciceActivity" />
        <activity android:name=".PectorauxActivity" />
        <activity android:name=".DosActivity"/>
        <activity android:name=".BicepsActivity"/>
        <activity android:name=".TricepsActivity"/>
        <activity android:name=".EpaulesActivity"/>
        <activity android:name=".AvantBrasActivity"/>
        <activity android:name=".AbdosActivity"/>
        <activity android:name=".IschioFessiersActivity"/>
        <activity android:name=".ConnexionInscriptionActivity"/>
        <activity android:name=".ConnexionActivity"/>
        <activity android:name=".InscriptionActivity"/>
        <activity android:name=".TractionsAnneauxActivity" />
        <activity android:name=".DeadHangActivity" />
        <activity android:name=".MuscleUpActivity" />
        <activity android:name=".TractionActivity" />
        <activity android:name=".TirageHorizontalActivity" />
        <activity android:name=".RowingBarreActivity" />
        <activity android:name=".ShrugBarreActivity" />
        <activity android:name=".PullOverActivity" />
        <activity android:name=".TractionSupinationActivity" />
        <activity android:name=".RowingHaltereUnBrasActivity" />
        <activity android:name=".DeadHangActivity" />

    </application>

</manifest>